body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  text-align: center;
 }
 
 input, button {
  font-size: 1rem;
  padding: 10px;
  margin: 10px;
 }
 
 #result {
  color: green;
 }
 
 #birthday-input {
  font-size: 1rem;
  padding: 9px;
  margin: 9px;
 }